.cartWidgetContainer{
    font-size: 30px;
    color: white;
    display: flex;
}
.titleCart{
    margin-bottom: 10px;
    margin-left: 20px;
}
.cardWidget{
    visibility: visible;
    opacity: 1;
    transition: all .5s ease-out;
}
.cartHidden{
    opacity: 0;
    visibility: hidden;
}
.container{
    background-color: blanchedalmond;
    border-radius: 20px;
    padding-bottom: 80px;
    padding-left: inherit;
}

.delete{
    font-size: 25px;
    margin-left: 20px;
}
.cart{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px;
    margin-bottom: 20px;
}
.imgCarrito{
    height: 150px;
}

