.counter{
  text-align: start;
  margin-left: 15px;
  display: flex;
  margin-left: 94px;
  }
.texto{
  color: white;
}
.mensaje{
  text-align: center;
  font-size: 30px;
}.add{
  margin-left: 60px;
}
.loading{
  text-align: center;
}
.cart{
  margin-left: 30px;
}
.agregar{
  margin-right: 20px;
  margin-left: 20px;
}